 @section HeaderScripts{
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
}

<div class="main container">
    <img src="~/logo.png" class="margin-bottom"></img>
    <div ng-view ></div>
</div>

